<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slack Export - #{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="static/viewer.css" />
	<script type="text/javascript" src="static/jquery-1.9.1.js"></script>
	<script type="text/javascript"  src="static/search.js"></script>
	<link rel="stylesheet" type="text/css" href="static/search.css" />
</head>
<body>
	<div class="searchContend_h">
        <input name="text-12" id="text-12" value="" type="text" class="textSearchvalue_h">
        <button type="button" class="searchButtonClickText_h button">Search</button>
		<button type="button" class="next_h button">Next</button>
		<button type="button" class="previous_h button">Previous</button>
	</div>        	

	<div id="realTimeContents" class="messages">
		{% for message in messages %}
			<div class="message-container">
			<div id="{{ message.id }}">
				<img class="headshot" src="{{ message.img }}"/>
				<div class="message">
					<div class="username">{{ message.username }}</div>
					<a href="#{{ message.id}}"><div class="time">{{ message.time }}</div></a>
					<div class="msg">{{ message.msg|safe }}</div>
				</div>
			</div>
			</div>
			<br/>
		{% endfor %}
	</div>
</body>
</html>
